.productshow-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.product-show-list {
    background-color: white !important;
    border-radius: 8px;
    width: 49%;
    height: 550px;
}

.contact .contact-info {
    margin: 10px 0;
}
.contact .contact-info .title {
    font-size: 17px;
    color: #000;
    font-weight: 600;
    padding: 20px 10px 20px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .product-show-list {
        width: 100% !important;
    }
}
@media only screen and (max-width: 767px) {
    .product-show-list {
        width: 100% !important;
    }
    .mobile-show {
        height: 400px !important;
    }
}
@media only screen and (max-width: 575px) {
    .product-show-list {
        width: 100% !important;
    }
  }
@media only screen and (max-width: 479px){
    .product-show-list {
        width: 100% !important;
    }
}
